src/test/java/uoslife/timetableservicespring/wise/dto/MajorSubnput.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mainlist">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="list">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="year" type="xs:string" />
                    <xs:element name="term" type="xs:string" />
                    <xs:element name="subject_div2" type="xs:string" />
                    <xs:element name="subject_div" type="xs:string" />
                    <xs:element name="subject_no" type="xs:string" />
                    <xs:element name="class_div" type="xs:string" />
                    <xs:element name="subject_nm" type="xs:string" />
                    <xs:element name="sub_dept" type="xs:string" />
                    <xs:element name="day_night_nm" type="xs:string" />
                    <xs:element name="shyr" type="xs:unsignedByte" />
                    <xs:element name="credit" type="xs:unsignedByte" />
                    <xs:element name="class_nm" type="xs:string" />
                    <xs:element name="prof_nm" type="xs:string" />
                    <xs:element name="class_type" type="xs:string" />
                    <xs:element name="tlsn_limit_count" />
                    <xs:element name="tlsn_count" />
                    <xs:element name="etc_permit_yn" type="xs:string" />
                    <xs:element name="sec_permit_yn" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="_COLUMNS_OF_TABLE_TO_TEXT_" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>